body{
    margin: 0;
    padding: 0;
    background-color: rgb(93, 171, 145);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container{
    background: #fff;
    height: 39px;
    border-radius: 30px;
    align-items: center;
    display: flex;
    padding: 10px 20px ;
    justify-content: center;
    cursor: pointer;
    transition: 0.8s;
    box-shadow: 4px 4px 6px 0 rgb(38, 34, 34,.3),
    -4px -4px 6px 0 rgb(38, 34, 34,.3),
   inset -4px -4px 6px 0 rgb(38, 34, 34,.3),
   inset 4px 4px 6px 0 rgb(38, 34, 34,.3),

}

.search-container:hover > .search-input{
    width: 400px;
}


.search-container .search-input{
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}


.search-container .search-btn .fas{
    color: rgb(30, 27, 27);
}


